:root {
    --primary-color: #4e4e71;
    --secondary-color: #d3b8c3;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  
  body {
    line-height: 1.6;
    color: #333;
    background-color: var(--primary-color);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  nav .name {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  nav .nav-items a {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 1em;
    font-size: 1em;
    transition: color 0.75s ease;
  }
  
  nav .nav-items a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1em;
    filter: brightness(1.5);
    transition: color 0.75s ease;
  }
  
  .intro {
    padding: 2em;
    max-width: 800px;
    margin: 2em auto;
  }
  
  .intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }

  
  .column-left {
    max-width: 600px;
    justify-content: left;
  }

  .column-right {
    max-width: 600px;
    justify-content: right;
    text-align: right;
  }
  
  .italics {
    font-style: italic;
    color: var(--secondary-color);
    /*margin-bottom: 0.5em;*/
  }
  
  p {
    font-size: 1em;
    color: var(--secondary-color);
  }
  
  p.emphasis {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--secondary-color);
  }

  p.italics {
    font-style: italic;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 0.5em;
  }

  .dashed-list {
    list-style-type: none;
    padding-left: 1.5rem;
  }
  
  .dashed-list li::before {
    content: "- ";
    margin-right: 0.5rem;
    color: var(--secondary-color);
  }
  
  li {
    color: var(--secondary-color);
  }
  
  h1 {
    color: var(--secondary-color);
    padding-top: 1rem;
  }

  h3 {
    color: var(--secondary-color);
  }
  